###
# configuration options
###
BCRYPT=10

###
# export admin information
###
export DOMAIN=''
export NAME=''
export EMAIL=''

###
# export cloudflare configuration
###
export CF_API_KEY=''
export CF_ZONE_ID=''

###
# export database configuration
###
export POSTGRES='13-alpine'
export MARIA=''

###
# export dave configuration
###
export DV_USER=''
       DV_PASS=''
       DV_PASS=$(htpasswd -bnBC $BCRYPT "" "$DV_PASS" | tr -d ':\n')
export DV_PASS

###
# export languagetool configuration
###
export JVM_MIN='512m'
export JVM_MAX='1024m'

###
# export miniflux configuration
###
export MF_DB_NAME=''
export MF_DB_PWD=''
export MF_DB_USER=''
export MF_PWD=''

###
# export paperless configuration
###
export PL_ADMIN_PWD=''
export PL_DB_PWD=''
export PL_DB_USER=''
export PL_SECRET=''


###
# export traefik configuration
###
       TF_USER=''
       TF_PASS=''
       TF_PASS=$(htpasswd -bnBC $BCRYPT "" "$TF_PASS" | tr -d ':\n')
       TF_AUTH="$TF_USER:$TF_PASS"
export TF_AUTH

###
# update template files
##
envsubst < "traefik/config-template.yml" > "traefik/config.yml"
envsubst < "cloudflare/config-template.json" > "cloudflare/config.json"
envsubst < "dave/config-template.yml" > "dave/config.yml"